<!-- ======= Contact Section ======= -->
<main id="main">
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2><span>Contact</span> Us</h2>
        <p class="fs-3">
          We would love to hear from you! If you have any questions, comments,
          or feedback, please don't hesitate to get in touch with us.
        </p>
      </div>
    </div>

    <div class="map">
      <iframe
        style="border: 0; width: 100%; height: 350px"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3413.01346618717!2d29.903514274179177!3d31.192639974365676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c394ebd03ec1%3A0x16cbff5d844ff34b!2sInformation%20Technology%20Institute!5e0!3m2!1sen!2seg!4v1683204969376!5m2!1sen!2seg"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="cont-form container mt-5">
      <div class="info-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 info">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>
              Mahmoud Salamah, Kom Ad Dakah Gharb, Al Attarin<br />Alexandria
              Governorate
            </p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-clock"></i>
            <h4>Open Hours:</h4>
            <p>Friday-Saturday:<br />24 hours</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com<br />contact@example.com</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+1 5589 55488 51<br />+1 5589 22475 14</p>
          </div>
        </div>
      </div>

      <form
        action="forms/contact.php"
        method="post"
        role="form"
        class="php-email-form"
      >
        <div class="row">
          <div class="col-md-6 form-group">
            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              placeholder="Your Name"
              required
            />
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              placeholder="Your Email"
              required
            />
          </div>
        </div>
        <div class="form-group mt-3">
          <input
            type="text"
            class="form-control"
            name="subject"
            id="subject"
            placeholder="Subject"
            required
          />
        </div>
        <div class="form-group mt-3">
          <textarea
            class="form-control"
            name="message"
            rows="5"
            placeholder="Message"
            required
          ></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center">
          <button type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
