<app-header></app-header>
<section id="meals">
  <div class="container ">
    <div class="row my-5">
      <div  class="col-md-5 offset-1  card-image d-flex animate__animated  animate__backInLeft">
        <img src="assets/img/teammember/1.jpg" class="img" alt="Image">
      </div>
      <div class="col-md-4 d-flex animate__animated  animate__backInRight">
        <div  id="details">

            <p class="h1">Title</p>
          <p class="font-weight-light mb-0 font-size-sm" >category</p>
          <p class="font-weight-light border-bottom">rating</p>
<p class="font-weight-bold">price</p>
<p >Desc</p>
<a class="btn btn-lg" href="#">
  <span>Add To Cart</span>
</a>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-10" style="justify-content: center; ">
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada sit amet mauris id bibendum. Fusce euismod, lectus in interdum placerat, eros sapien venenatis erat, et dictum velit orci vel orci. </p>
        <p>Nulla facilisi. Nulla ut felis nec odio aliquet molestie eu eget sapien. Donec scelerisque, arcu ut suscipit pulvinar, ipsum eros aliquam arcu, vel pulvinar enim nisi ut arcu. </p>
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada sit amet mauris id bibendum. Fusce euismod, lectus in interdum placerat, eros sapien venenatis erat, et dictum velit orci vel orci. </p>
        <p>Nulla facilisi. Nulla ut felis nec odio aliquet molestie eu eget sapien. Donec scelerisque, arcu ut suscipit pulvinar, ipsum eros aliquam arcu, vel pulvinar enim nisi ut arcu. </p>
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada sit amet mauris id bibendum. Fusce euismod, lectus in interdum placerat, eros sapien venenatis erat, et dictum velit orci vel orci. </p>
        <p>Nulla facilisi. Nulla ut felis nec odio aliquet molestie eu eget sapien. Donec scelerisque, arcu ut suscipit pulvinar, ipsum eros aliquam arcu, vel pulvinar enim nisi ut arcu. </p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
