<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <div class="logo me-auto">
      <h1><a href="/">CookSmart</a></h1>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#why-us">Why Us</a></li>
        <!-- <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
        <li><a class="nav-link scrollto" href="#specials">Specials</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#events">Events</a></li> -->
        <li><a class="nav-link scrollto" href="#chefs">Our Team</a></li>
        <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
         <li>
          <a href="/about">About Us</a>
        </li>
        <li>
          <a href="/meals">Meals </a>
        </li>
        <li>
          <!-- <a href="checkout"></a> -->

          <a href="/cart"
            ><i class="bi bi-cart-dash-fill nav-link scrollto fs-5"></i>
            <span class="badge">{{ cartLength }}</span></a
          >
        </li>

        <li class="dropdown">
          <a><i class="bi bi-chevron-down fs-6"></i></a>
          <ul>
            <li *ngIf="isLoggedIn && !getRole">
              <a href="/profile">profile </a>
            </li>
            <li *ngIf="isLoggedIn">
              <a (click)="logout()" routerLink="/login">log out</a>
            </li>
            <li *ngIf="!isLoggedIn"><a routerLink="/login">Log-in</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<!-- End Header -->
