# Node.js related files
backend/node_modules/
backend/npm-debug.log
backend/yarn.lock
backend/package-lock.json
package-lock.json
.env

backend/uploads


# MongoDB related files
backend/*.log
backend/*.journal
backend/mongod.lock
backend/db/
backend/mongodump/
backend/mongorestore/
backend/mongoexport
backend/mongoimport


# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

frontend/.vscode/*
frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json
frontend/.history/*

# Miscellaneous
frontend/.angular/cache
.sass-cache/
frontend/connect.lock
frontend/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
####################

