<section id="why-us" class="why-us">
  <div class="container">
    <div class="section-title">
      <h2>Why choose <span>Our Website</span></h2>
      <p>
        Our user-friendly platform makes it easy to browse and select recipes,
        customize your meal plan, and track your progress. We also offer a
        variety of resources and tools, such as grocery lists, cooking tips, and
        nutritional information, to help you stay on track and achieve your
        goals. At Cook Smart, we believe that healthy eating should be easy and
        enjoyable, and we are committed to helping you make it a part of your
        daily routine.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="box">
          <span>01</span>
          <h4>Inspiration for cooking</h4>
          <p>
            Our Website can provide inspiration for new recipes and cooking
            techniques.
          </p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>02</span>
          <h4>Nutrition information</h4>
          <p>
            Our Website provide nutrition information for our recipes, helping
            you make informed choices about what you eat.
          </p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>03</span>
          <h4>Convenience</h4>
          <p>
            Our Website can be a convenient resource for grocery shopping. you
            can search for recipes based on ingredients you have on hand, or
            create personalized meal plans that fit your dietary needs and
            preferences.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
