.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    height: 100%;
  }
  
  .why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #ff4f3b;
  }
  
  .why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #6c665c;
  }
  
  .why-us .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .why-us .box:hover {
    background: #ff4f3b;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  
  .why-us .box:hover span,
  .why-us .box:hover h4,
  .why-us .box:hover p {
    color: #fff;
  }
  