<main id="main">
  <section id="hero">
    <div class="hero-container">
      <div
        id="heroCarousel"
        data-bs-interval="5000"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <ol class="carousel-indicators" id="hero-carousel-indicators">
          <li data-bs-slide-to="0" class="active"></li>
          <li data-bs-slide-to="1"></li>
          <li data-bs-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div
            class="carousel-item active"
            style="background-image: url(assets/img/slide/hero.jpg)"
          >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">
                  <span>CookSmart</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Welcome to our website dedicated to helping you reduce food waste and enjoy delicious meals every day! We're 
                  passionate about cooking and believe that every meal should be a celebration of good food and good company.
                </p>
                <div>
                  <a
                    href="/meals"
                    class="btn-menu animate__animated animate__fadeInUp scrollto"
                    >Our Meals</a
                  >
                </div>
              </div>
            </div>
          </div>

          <div
            class="carousel-item"
            style="background-image: url(assets/img/slide/hero1.jpg)"
          >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">
                  Our Mission
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Our mission is to provide you with tips, tricks, and recipes to help you eat and cook without wasting food.
                  We understand that food waste is a major problem, and we're committed to helping you make the most of your ingredients.
                  But that's not all - we also pride ourselves on cooking up some of the most delicious food you'll ever taste!
                  Our team of talented chefs is constantly developing new recipes and experimenting with new ingredients to create 
                  meals that are both beautiful and flavorful.
                </p>
                <div>
                  <a
                    href="/meals"
                    class="btn-menu animate__animated animate__fadeInUp scrollto"
                    >Our Meals</a
                  >
                  <!-- <a
                    href="#book-a-table"
                    class="btn-book animate__animated animate__fadeInUp scrollto"
                    >Book a Table</a
                  > -->
                </div>
              </div>
            </div>
          </div>

          <div
            class="carousel-item"
            style="background-image: url(assets/img/slide/slide-3.jpg)"
          >
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">
                  Cook Smart 
                </h2>
                <p class="animate__animated animate__fadeInUp">
                  Whether you're looking for a quick weeknight dinner or a show-stopping meal for a special occasion, we've got you covered. 
                  From hearty stews to delicate pastries, our recipes are sure to satisfy your hunger and your taste buds.
                </p>
                <div>
                  <a
                    href="/meals"
                    class="btn-menu animate__animated animate__fadeInUp scrollto"
                    >Our Meals</a
                  >
                  <!-- <a
                    href="#book-a-table"
                    class="btn-book animate__animated animate__fadeInUp scrollto"
                    >Book a Table</a
                  > -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#heroCarousel"
          role="button"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon bi bi-chevron-left"
            aria-hidden="true"
          ></span>
        </a>

        <a
          class="carousel-control-next"
          href="#heroCarousel"
          role="button"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon bi bi-chevron-right"
            aria-hidden="true"
          ></span>
        </a>
      </div>
    </div>
  </section>
</main>
