<main id="main">
  <section id="chefs" class="chefs">
    <div class="container">
      <div class="section-title">
        <h2>OUR PASSIONATE <span>TEAM MEMBER</span></h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/img/teammember/1.jpg"
              alt="John Doe"
            />
            <div class="card-body">
              <h5 class="card-title">Sondos Said</h5>
              <p class="card-text">
                Sondos is Founder & CEO and brings a wealth of experience and
                expertise to the table. He has a sharp business and a strategic
                mindset that has helped us.
              </p>
              <div class="social">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="#" class="instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
                <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/img/teammember/2.jpg"
              alt="Jane Smith"
            />
            <div class="card-body">
              <h5 class="card-title">Mariam Saad</h5>
              <p class="card-text">
                Mariam is our Master Chef and has a great passion for culinary
                arts. He has an eye for detail and a creative flair that makes
                his dishes stand out.
              </p>
              <div class="social">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="#" class="instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
                <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/img/teammember/3.jpg"
              alt="Mark Johnson"
            />
            <div class="card-body">
              <h5 class="card-title">Omar Walid</h5>
              <p class="card-text">
                Omar is our project manager and keeps our team on track. He's
                passionate about ensuring that our projects are delivered on
                time and within budget.
              </p>
              <div class="social">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="#" class="instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
                <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/img/teammember/4.jpg"
              alt="Sarah Lee"
            />
            <div class="card-body">
              <h5 class="card-title">Mahmoud Ali</h5>
              <p class="card-text">
                Mahmoud is our customer service representative and ensures that
                our clients are happy with our services.
              </p>
              <div class="social">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="#" class="instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
                <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
