@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

section {
    background-image: url('https://images.unsplash.com/photo-1517992159470-5f9b04759e98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1407&q=80');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

.card {
  border: none;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 7px 7px 15px rgba(226, 10, 10, 0.1);
}

.image-container {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  box-shadow: 7px 7px 15px rgba(250, 247, 247, 0.1);
}

.card:hover .image-container img {
  transform: scale(1.2);
}

.card-body {
  padding: 20px;
  background-color: black;
  color: aliceblue;
  position: absolute;
  bottom: -100%;
  width: 100%;
  transition: bottom 0.5s ease-in-out;
  background: rgba(1, 10, 1, 0.8);
}

.card:hover .card-body {
  bottom: 0;
}

.social {
  margin-top: 15px;
}

.social a {
  transition: color 0.3s;
  color: #7a7368;
}

.social a:hover {
  color: #bc3b2c;
}

.social i {
  font-size: 16px;
  margin: 0 2px;
}

@media (min-width: 266px) {
  .card:hover .card-body {
    bottom: -75;
  }



  .card-body {
    padding-bottom: 0px;
    position: absolute;
    bottom: -164%;
    width: 100%;
    transition: bottom 0.5s ease-in-out;
  }
}

@media (max-width: 1024px) {
  .card-body {
    padding-bottom: 0px;
    position: absolute;
    bottom: -500%;
    width: 100%;
    transition: bottom 0.5s ease-in-out;
  }

  .card:hover .card-body {
    bottom: -400;
    padding-bottom: -500px;
  }
}
