<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img
      src="assets\img\shared\cooksmart_logo2.1.png"
      class="brand-image img-circleh"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">cooksmart</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 row text-center">
      <div class="image d-flex">
        <img
          style="width: 120px"
          src="assets/img/user2-160x160.jpg"
          class="rounded-circle img-fluid shadow-4 m-auto"
          alt="User Image"
        />
      </div>
      <div class="info">
        <h5 href="#" class="d-block text-white">Alexander Pierce</h5>
        <small class="text-white"> Admin</small>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a routerLink="/admin" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/widgets.html" class="nav-link">
            <i class=" nav-icon fas fa-chart-pie"></i>
            <p>
              Charts
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/orders" class="nav-link">
            <i class=" nav-icon fas fa-shopping-cart fa-lg"></i>
            <p>
              Orders
              <span class="badge badge-warning right">{{
                pnedingOrdersCount
              }}</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/meals" class="nav-link">
            <i class=" nav-icon fas fa-utensils"></i>
            <p>Meals</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/ingredients" class="nav-link">
            <i class="nav-icon fas fa-utensils"></i>
            <p>Ingredients</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/users" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>Users</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
