<app-header></app-header>
<main id="main">
  <div
    class="Checkout"
    style="
      background-image: url(https://images.unsplash.com/photo-1564495584622-0bb3af6f668e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    "
  >
    <div class="container mt-1">
      <div class="row justify-content-center">
      <div
        class="col-lg-10 p-3 bg-white rounded shadow-sm mb-5 d-flex justify-content-center align-items-center">
        <div class="container">
          <h2>Meal Details</h2>
          <div class="row mb-4">
            <div class="col-md-4 box">
              <img [src]="meal[0].image" alt="{{ meal[0].title }}" class="img-thumbnail">
            </div>

          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Image</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Name</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Action</div>
                </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingredient of ingrediants; let i = index">
                <td>
                  <img [src]="ingredient.image" alt="{{ ingredient.name }}" class="img-thumbnail" style="width: 50px; height: 50px;">
                </td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price }}</td>
                <td class="border-0 align-middle">
                  <a (click)="delete(meal[0]._id,i,ingredient.price)"class="text-dark">
                     <i class="fa fa-trash"></i
                  ></a>

              </tr>
            </tbody>
          </table>
          <a routerLink="/cart">
            <button class="checkout-btn">Done</button>
          </a>
        </div>
      </div>
    </div>
    </div>

  </div>

</main>

<app-footer></app-footer>
