.Checkout::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(2, 2, 2, 0.8);
  z-index: 9;

}

.Checkout {
  background: center center no-repeat;
  background-size: cover;
  padding: 147px 0;
  position: relative;
  min-height: 100vh;

}

.Checkout .container {
  position: relative;
  z-index: 10;
  text-align: center;

}
