<app-header></app-header>
<main id="main">
  <div
    class="Checkout"
    style="
      background-image: url(https://images.unsplash.com/photo-1564495584622-0bb3af6f668e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    "
  >
    <div class="container">
      <div
        class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5 d-flex justify-content-center align-items-center"
      >
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="4">Meal Details</th>
              </tr>
              <tr>
                <td>
                  <img
                    [src]="meal.image"
                    alt="{{ meal.title }}"
                    class="img-thumbnail"
                    style="width: 50px; height: 50px"
                  />
                </td>
                <td>{{ meal.title }}</td>
                <td colspan="2">{{ totalMealPrice }}</td>
              </tr>
              <tr>
                <th colspan="4">Ingredients</th>
              </tr>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingredient of meal.ingredients_details">
                <td>
                  <img
                    [src]="ingredient.image"
                    alt="{{ ingredient.name }}"
                    class="img-thumbnail"
                    style="width: 50px; height: 50px"
                  />
                </td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price }}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    (click)="removeIngredient(ingredient)"
                  >
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
