<!-- ======= Blog Section ======= -->
<main id="main">
  <section
    id="blog"
    class="blog"
    style="background-image: url(assets/img/blog/blog-bg.jpg)"
  >
    <div class="container">
      <div class="section-title">
        <h2>Latest <span>Blog</span></h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="member">
            <div class="pic">
              <img src="assets/img/blog/1.png" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>5 SIMPLE & HEALTHY GLUTEN FREE COOKIE RECIPES</h4>
              <span>Feb 5, 2022</span>

              <p class="card-text">
                Gluten-free diets have become increasingly popular over the
                years, whether due to celiac disease, gluten sensitivity, or
                simply personal preference....
              </p>
              <a href="#" class="">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="member">
            <div class="pic">
              <img src="assets/img/blog/2.png" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>5 FOODS THAT SOUND HEALTHY, BUT AREN’T</h4>
              <span>Jul 11, 2022</span>

              <p class="card-text">
                When it comes to maintaining a healthy diet, it's important to
                be aware of the foods that may seem healthy but are actually
                loaded with hidden sugars, unhealthy fats,...
              </p>
              <a href="#" class="">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="member">
            <div class="pic">
              <img src="assets/img/blog/3.png" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>12 Healthy Dinner Ideas</h4>
              <span>Aug 3, 2022</span>

              <p class="card-text">
                Eating a healthy dinner is key to maintaining a balanced diet
                and keeping your body fueled with the nutrients it
                needs...loaded with hidden sugars, unhealthy fats,...
              </p>
              <a href="#" class="">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End blog section -->
