<!-- ======= Blog Section ======= -->
<main id="main">
  <section id="blog" class="blog">
    <div class="container">
      <div class="section-title">
        <h2>Latest <span>Blog</span></h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic">
              <img src="assets/img/blog/1.png" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>5 SIMPLE & HEALTHY GLUTEN FREE COOKIE RECIPES</h4>
              <span>Feb 5, 2022</span>

              <p class="card-text">
                Gluten-free diets have become increasingly popular over the
                years, whether due to celiac disease, gluten sensitivity, or
                simply personal preference....
              </p>
              <a href="#" class="">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic">
              <img src="assets/img/blog/2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>5 FOODS THAT SOUND HEALTHY, BUT AREN’T</h4>
              <span>Jul 11, 2022</span>

              <p class="card-text">
                Gluten-free diets have become increasingly popular over the
                years, whether due to celiac disease, gluten sensitivity, or
                simply personal preference....
              </p>
              <a href="#" class="">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic">
              <img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Cook</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End blog section -->
