.Order::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(2, 2, 2, 0.8);
  z-index: 9;

}

.Order {
  background: center center no-repeat;
  background-size: cover;
  padding: 147px 0;
  position: relative;
  min-height: 100vh;

}

.Order .container {
  position: relative;
  z-index: 10;
  text-align: center;

}

.order-btn {
  background: #bc3b2c;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  margin: 0px 5px;
}
@media (max-width: 1024px) {
  .container{
    width: 450px;
    margin-left: 30px;
  }
}
