<!-- Footer -->
<footer id="footer">
  <div class="container">
    <h3>CookSmart</h3>
    <p>YOUR GOALS THAT MATCH YOUR LIFE STYLE</p>
    <div class="social-links">
      <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
      <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>CookSmart</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#" class="text-light">OMSN</a>
    </div>
  </div>
</footer>
<!-- End Footer -->
