<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-title">
            <h1 class="mb-4">
              Welcome to
              <i class="fa fa-utensils custom-color me-2"></i>Cook Smart
            </h1>
          </div>
          <p class="fs-3">
            the best place to find delicious and healthy meal ideas. Our website
            offers a wide range of meal suggestions and ingredients, all
            carefully curated to meet your dietary needs and preferences.
          </p>
        </div>
      </div>
      <!-- About Start -->
      <!-- <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6">
              <div class="row g-3">
                <div class="col-6 text-start">
                  <img
                    class="img-fluid rounded w-100 animate-zoom-in"
                    src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                  />
                </div>
                <div class="col-6 text-start">
                  <img
                    class="img-fluid rounded w-75 animate-zoom-in"
                    data-wow-delay="0.3s"
                    src="https://images.unsplash.com/photo-1459789034005-ba29c5783491?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTl8Njk4MTcxMjF8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                    style="margin-top: 25%"
                  />
                </div>
                <div class="col-6 text-end">
                  <img
                    class="img-fluid rounded w-75 animate-zoom-in"
                    data-wow-delay="0.5s"
                    src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80"
                  />
                </div>
                <div class="col-6 text-end">
                  <img
                    class="img-fluid rounded w-100 animate-zoom-in"
                    data-wow-delay="0.7s"
                    src="https://images.unsplash.com/photo-1547058881-aa0edd92aab3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHw2OTgxNzEyMXx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="section-title">
                <h2><span>Who We</span> Are ?</h2>
                <p class="mb-4">
                  We are a team of passionate foodies who believe that eating
                  healthy should never be boring. Our mission is to help people
                  discover new and exciting ways to enjoy nutritious, flavorful
                  meals.
                </p>
              </div>
              <hr />
              <div class="section-title">
                <h2><span>Our</span> Values</h2>
                <p class="mb-4">
                  We believe in sustainability and reducing food waste. That's
                  why we encourage our users to use up all of their ingredients
                  and compost any food scraps. We believe that small actions can
                  lead to big changes, and we want to do our part in creating a
                  healthier planet.
                </p>
              </div>
              <div class="row g-4 mb-4">
                <div class="col-sm-6">
                  <div
                    class="d-flex align-items-center border-start border-5 custom-border-color px-3"
                  >
                    <h1
                      class="flex-shrink-0 display-5 text-custom mb-0 count-up"
                      id="counter"
                    >
                      15
                    </h1>
                    <div class="ps-4">
                      <p class="mb-0">Years of</p>
                      <h6 class="text-uppercase mb-0">Experience</h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div
                    class="d-flex align-items-center border-start border-5 custom-border-color px-3"
                  >
                    <h1
                      class="flex-shrink-0 display-5 text-custom mb-0 count-up"
                      id="counter"
                    >
                      50
                    </h1>
                    <div class="ps-4">
                      <p class="mb-0">Popular</p>
                      <h6 class="text-uppercase mb-0">Master Chefs</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</main>
