.about::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(2, 2, 2, 0.8);
    z-index: 9;

}

.about {
    /* background: center center no-repeat;
    background-size: cover; */
    background-color: black;
    padding: 147px 0;
    position: relative;
    min-height: 100vh;

}

/* 
.about .container {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;

}

.custom-color {
    color: #bc3b2c;
}

.text-custom {
    color: #bc3b2c;
}

.custom-border-color {
    border-color: #bc3b2c !important;
} */

/* @keyframes animate-zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
} */

/* @keyframes animate-slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
} */

/* .animate-zoom-in {
    animation-name: animate-zoom-in;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

.animate-slide-up {
    animation-name: animate-slide-up;
    animation-duration: 1s;
    animation-delay: 0.5s;
} */

/* @keyframes count-up {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
} */

/* #counter {
    animation-name: count-up;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
} */