<section class="text-center text-lg-start">
<div class="hall">
  <div class="container py-4">
    <div class="row g-0 align-items-center cascading-top mt-5">
      <div class="container d-flex ">
      <div class="form-cont col-lg-6 mb-5 mb-lg-0 mt-5">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
          "
        >
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Log in</h2>
            <form
              (ngSubmit)="Login(email.value, password.value)"
              [formGroup]="validationForm"
            >
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email </label>
                <input
                  #email
                  type="email"
                  id="form3Example3"
                  class="form-control"
                  placeholder="Enter your email"
                />
                <p class="text-danger float-start error" *ngIf="!isEmailValid">
                  {{ emailMsg }}
                </p>
              </div>
              <br />
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                <input
                  #password
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  placeholder="Enter your password"
                />
                <p
                  class="text-danger float-start error"
                  *ngIf="!isPasswordValid"
                >
                  {{ passwordMsg }}
                </p>
              </div>
              <br />
              <button class="animated-button1" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Log-in
              </button>

              <div class="text-center">
                <p>
                  Not a member?
                  <a class="sign-up-btn" routerLink="/signup">Register</a>
                </p>
                <p>or log in with:</p>
                <div class="social-links">
                  <a href="#" class="facebook"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a href="#" class="google"><i class="fab fa-google"></i></a>
                  <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="github"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="img-form col-lg-6 mb-5 mb-lg-0 mt-0">
        <img
          src="https://images.unsplash.com/photo-1613483515012-8879be29b578?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80"
          class="w-100 rounded-4 shadow-4"
          alt=""
        />
      </div>
    </div>

    </div>
  </div>
</div>
</section>
