<!-- TABLE: LATEST ORDERS -->
<div class="card m-2">
  <div class="card-header border-transparent">
    <h3 class="card-title">Latest Pending orders</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
          <tr>
            <th>#</th>
            <th>User</th>
            <th>Num of Meals</th>
            <th>Date</th>
            <th>Time</th>

            <th>Total Price</th>
            <th>Status</th>
            <th>Details</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; index as i">
            <td>{{ i + 1 }}</td>

            <td class="dtr-control sorting_1" tabindex="{{ i }}">
              {{ order.user.fname }} {{ order.user.lname }}
            </td>
            <td>{{ order.mealCount }}</td>

            <td>{{ order.date | date : "dd-MM-yyyy " }}</td>
            <td>{{ order.date | date : "hh:mm a" }}</td>

            <td>{{ order.totalPrice }}</td>
            <td>
              <span [ngClass]="getStatusClass(order.status)">{{
                order.status
              }}</span>
            </td>
            <td>
              <a class="px-2" routerLink="{{ order._id }}">
                <button class="btn btn-sm btn-primary">Details</button>
              </a>
            </td>
            <td class="row">
              <a class="btn btn-sm btn-success col-5" href="#">
                <i class="fas fa-check"></i>
              </a>
              <a class="btn btn-sm btn-danger offset-md-1 col-5" href="#">
                <i class="fas fa-close"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <a routerLink="/admin/orders" class="btn btn-sm btn-primary float-right"
      >View All Orders</a
    >
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->
