tbody,thead{
  text-align: left;
}
i{
  cursor: pointer;
  padding-left: 25%;
}
.Checkout::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(2, 2, 2, 0.8);
    z-index: 9;

}

.Checkout {
    background: center center no-repeat;
    background-size: cover;
    padding: 147px 0;
    position: relative;
    min-height: 100vh;

}

.Checkout .container {
    position: relative;
    z-index: 10;
    text-align: center;

}

img {
    width: 100px;
    height: 100px;
}

.imgg {
    padding-left: 5px;
}

/* .quantity {
    display: flex;
    align-items: center;
} */

.minus-btn,
.plus-btn {
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    border: none;
    background-color: #eee;
    cursor: pointer;
}

.quantity-input {
    width: 3rem;
    margin: 0 0.5rem;
    text-align: center;
    border: none;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input[type=number] {
    -moz-appearance: textfield;
}

.checkout-btn {
    background: #bc3b2c;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    position: relative;
    display: inline-block;
}
.quantity {
  flex-direction: column;
  justify-content: center;
}

/* Media queries for responsive design */

@media screen and (max-width: 600px) {
  .table{
    display: flex;
    flex-direction: row;
  }
  .name{
    margin-bottom: 50px;
  }
  tr{
    display: flex;
    flex-direction: column;
  }
  .img-res{
   margin-top:-15px;
   margin-left: 30px;
  }
  .price-res{
    margin-top: 10px;
    margin-left: 60px;
  }
  .qun-res{
    margin-top: 60px;
    margin-left: 15px;
  }
  .cust-res{
    margin-top: 60px;
  }
  .dele-res{
    margin-top: 60px;
  }
  tbody{
    display: flex;
    flex-direction: row;
  }

}
