<main id="main">
  <div
    class="Checkout"
    style="
      background-image: url(https://images.unsplash.com/photo-1564495584622-0bb3af6f668e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">customize</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remove</div>
                  </th>
                </tr>
              </thead>
              <tbody >
                <ng-container *ngFor="let meals of Meal; let i = index">
                <tr *ngFor="let meal of meals;">
                  <th scope="row" class="border-0"  >
                    <div class="p-2"  >
                      <img class="imgg"
                        src={{meal.image}}
                        alt=""
                        width="70"
                        class="img-fluid rounded shadow-sm"
                      />
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0">
                          <a
                            class="text-dark d-inline-block align-middle"
                            >{{meal.title}}</a
                          >
                        </h5>
                        <span
                          class="text-muted font-weight-normal font-italic d-block"
                          >{{meal.category}}</span
                        >
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle">
                    <strong>{{meal.price}}</strong>
                  </td>
                  <td class="quantity border-0 align-middle">
                    <button (click)="minus(i)" class="minus-btn" type="button">
                      -
                    </button>
                    <input
                      [(ngModel)]="meals.quantity"
                      class="quantity-input"
                      type="number"


                    />
                    <button (click)="plus(i)" class="plus-btn" type="button">
                      +
                    </button>
                  <td class="border-0 align-middle">
                    <div class="quantity px-4">
                      <button (click)="minus()" class="minus-btn" type="button">
                        -
                      </button>
                      <input
                        [(ngModel)]="quantityInput"
                        class="quantity-input"
                        type="number"
                      />
                    </div>
                  </td>
                  <td class="border-0 align-middle">
                    <a routerLink="/customize/{{meal._id}}"class="text-dark"
                      ><i class="fa-solid fa-wrench" style="color: #000000;"></i>
                     </a>
                  </td>
                  <td class="border-0 align-middle">
                    <a (click)="delete(i)" class="text-dark">
                       <i class="fa fa-trash"></i
                    >
                    </a>
                  </td>
                </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <form method="POST">
            <button routerLink="/payment" class="btn btn-lg " class="checkout-btn"  (click)="checkout()" type="submit">
              <span>Checkout</span>
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</main>

