<app-admin-header></app-admin-header>
<app-admin-side-nav></app-admin-side-nav>

<div class="content-wrapper">
  <section class="content-header">
    <!-- Content Header (Page header) -->
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>All Orders</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">List Of All Orders</a></li>
            <li class="breadcrumb-item active">Orders</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">All Orders data</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div
                id="example1_wrapper"
                class="dataTables_wrapper dt-bootstrap4"
              >
                <div class="row">
                  <div class="col-sm-12">
                    <table
                      id="example1"
                      class="table table-bordered table-striped dataTable dtr-inline"
                      aria-describedby="example1_info"
                    >
                      <thead>
                        <tr>
                          <th>#</th>
                          <th
                            class="sorting sorting_asc"
                            tabindex="0"
                            aria-controls="example1"
                            rowspan="1"
                            colspan="1"
                            aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending"
                          >
                            User
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example1"
                            rowspan="1"
                            colspan="1"
                            aria-label="Browser: activate to sort column ascending"
                          >
                            Num Of Meals
                          </th>

                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example1"
                            rowspan="1"
                            colspan="1"
                            aria-label="Platform(s): activate to sort column ascending"
                          >
                            Date
                          </th>
                          <th>Time</th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example1"
                            rowspan="1"
                            colspan="1"
                            aria-label="Platform(s): activate to sort column ascending"
                          >
                            Total Price
                          </th>
                          <th>Status</th>
                          <th>Details</th>

                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of orders; index as i">
                          <td>{{ i + 1 }}</td>

                          <td class="dtr-control sorting_1" tabindex="{{ i }}">
                            {{ order.user.fname }} {{ order.user.lname }}
                          </td>
                          <td>{{ order.mealCount }}</td>

                          <td>{{ order.date | date : "dd-MM-yyyy " }}</td>
                          <td>{{ order.date | date : "hh:mm a" }}</td>
                          <td *ngIf="order.status != 'rejected' && order.status != 'cancelled'">
                            <!-- Content to be displayed if the condition is true -->
                            <span>{{ order.totalPrice }}</span>
                          </td>

                          <td *ngIf="order.status == 'rejected' || order.status == 'cancelled'">
                            <!-- Content to be displayed if the condition is false -->
                            <span
                              ><s>{{ order.totalPrice }}</s>
                            </span>
                          </td>
                          <td>
                            <span [ngClass]="getStatusClass(order.status)">{{
                              order.status
                            }}</span>
                          </td>

                          <td>
                            <a class="px-2" routerLink="{{ order._id }}">
                              <button class="btn btn-sm btn-primary">
                                Details
                              </button>
                            </a>
                          </td>
                          <td
                            *ngIf="order.status == 'pending'; else noAction"
                            class=""
                          >
                            <button
                              class="btn btn-sm btn-success col-5"
                              (click)="
                                updateOrderStatus(order._id, 'confirmed')
                              "
                            >
                              <i class="fas fa-check"></i>
                            </button>
                            <button
                              class="btn btn-sm btn-danger offset-md-1 col-5"
                              (click)="updateOrderStatus(order._id, 'rejected')"
                            >
                              <i class="fas fa-close"></i>
                            </button>
                          </td>
                          <ng-template #noAction>
                            <td class="text-info">Closed</td>
                          </ng-template>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>#</th>
                          <th rowspan="1" colspan="1">User</th>
                          <th rowspan="1" colspan="1">Num Of Meals</th>
                          <th rowspan="1" colspan="1">Date</th>
                          <th rowspan="1" colspan="1">Time</th>
                          <th rowspan="1" colspan="1">Total Price</th>
                          <th>Status</th>
                          <th>Details</th>

                          <th>Actions</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div
                      class="dataTables_info"
                      id="example1_info"
                      role="status"
                      aria-live="polite"
                    >
                      Total {{ orders.length }} Orders
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>
