/* You can add global styles to this file, and also import other style files */
.preloader{
    display: none;
}

#preloader{
    display: none;
}

@media (max-width: 999px) {
  body{
    overflow-x: hidden !important;
  }
}
