<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css"
/>

<div class="profile">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-6 mb-5 mb-lg-0 wow fadeIn">
        <div class="card border-0 shadow">
          <img
            class="profile-pic"
            src="{{ avatarUrl }}"
            style="height: 500px"
          />
          <form class="upload-img" id="upload" enctype="multipart/form-data">
            <input
              type="file"
              name="avatar"
              id="avatar"
              (change)="onFilePicked($event.target)"
            />
            <i
              class="bi bi-cloud-upload fs-5 pl-2"
              *ngIf="isPicPicked"
              (click)="upload()"
            ></i>
          </form>
          <div class="card-body p-1-9 p-xl-5">
            <div>
              <i
                class="bi bi-pencil-square fs-5 d-flex justify-content-end"
                *ngIf="!editable"
                (click)="changeEditable()"
              ></i>
              <i
                class="bi bi-check-square-fill fs-5 d-flex justify-content-end"
                *ngIf="editable"
                (click)="updateUser()"
                (click)="changeEditable()"
              ></i>
            </div>
            <div *ngIf="!editable">
              <h3 class="h4 mb-4">{{ name }}</h3>
              <ul class="list-unstyled mb-4">
                <li class="mb-3">
                  <a
                    ><i
                      class="far fa-envelope display-25 me-3 text-secondary"
                    ></i
                    >{{ email }}</a
                  >
                </li>
                <li class="mb-3">
                  <a
                    ><i
                      class="fas fa-mobile-alt display-25 me-3 text-secondary"
                    ></i
                    >{{ mobile }}</a
                  >
                </li>

                <li class="mb-3">
                  <a
                    ><i
                      class="fas fa-map-marker-alt display-25 me-3 text-secondary"
                    ></i
                    >{{ address }}</a
                  >
                </li>
                <li class="mb-3">
                  <a
                    ><i
                      class="bi bi-person-bounding-box display-25 me-3 text-secondary"
                    ></i
                    >{{ gender }}</a
                  >
                </li>
                <li class="mb-3">
                  <a
                    ><i
                      class="bi bi-calendar-heart-fill display-25 me-3 text-secondary"
                    ></i
                    >{{ age }}</a
                  >
                </li>
              </ul>
            </div>
            <form>
              <div class="form-col" *ngIf="editable">
                <div class="form-group">
                  <label for="inputEmail4">First Name</label>
                  <input
                    type="name"
                    class="form-control"
                    id="inputEmail4"
                    name="fname"
                    type="text"
                    [(ngModel)]="dbUser.fname"
                  />
                </div>
                <div class="form-group">
                  <label for="inputEmail4">Last Name</label>
                  <input
                    type="name"
                    class="form-control"
                    id="inputEmail4"
                    name="lname"
                    type="text"
                    [(ngModel)]="dbUser.lname"
                  />
                </div>
                <div class="form-group">
                  <label for="inputEmail4">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    name="email"
                    type="text"
                    [(ngModel)]="dbUser.email"
                  />
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputAddress"
                    name="address"
                    type="text"
                    [(ngModel)]="dbUser.address"
                  />
                </div>
                <div class="form-group">
                  <label for="inputAddress">Mobile</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputAddress"
                    name="mobile"
                    type="text"
                    [(ngModel)]="dbUser.mobile"
                  />
                </div>
                <div class="form-group">
                  <label for="inputAddress">Gender</label>
                  <select
                    class="form-control"
                    id="genderSelect"
                    name="gender"
                    [(ngModel)]="dbUser.gender"
                  >
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Age</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputAddress"
                    name="age"
                    type="text"
                    [(ngModel)]="dbUser.age"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
