<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css"
/>

<div class="profile">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-6 mb-5 mb-lg-0 wow fadeIn">
        <div class="card border-0 shadow">
          <img
            class="profile-pic"
            src="{{avatarUrl}}"
            style="height: 500px"
          />
          <form class="upload-img" id="upload" enctype="multipart/form-data" >
            <!-- <form action="/users/uploads" method="POST" enctype="multipart/form-data"> -->
            <input type="file" name="avatar" id="avatar" (change)="onFilePicked($event.target)">
            <i class="bi bi-cloud-upload fs-5 pl-2" *ngIf="isPicPicked" (click)="upload()"></i>
            <!-- <button type="submit" id="submit" class="btn btn-primary upload-btn" (click)="upload()">upload</button> -->
          </form>
          <div class="card-body p-1-9 p-xl-5">
            
            <div>
              <i class="bi bi-pencil-square fs-5 d-flex justify-content-end" *ngIf="!editable" (click)="changeEditable()"></i>
              <i class="bi bi-check-square-fill fs-5 d-flex justify-content-end" *ngIf="editable" (click)="updateUser()" (click)="changeEditable()"></i>
            </div>
            <div *ngIf="!editable">
              <h3 class="h4 mb-4">{{name}}</h3>
              <ul class="list-unstyled mb-4">
                <li class="mb-3">
                  <a
                    ><i class="far fa-envelope display-25 me-3 text-secondary"></i
                    >{{email}}</a
                  >
                </li>
                <li class="mb-3">
                  <a
                    ><i
                      class="fas fa-mobile-alt display-25 me-3 text-secondary"
                    ></i
                    >{{mobile}}</a
                  >
                </li>

                <li  class="mb-3"> 
                  <a
                    ><i
                      class="fas fa-map-marker-alt display-25 me-3 text-secondary"
                    ></i
                    >{{address}}</a
                  >
                </li>
                <li  class="mb-3"> 
                  <a
                    ><i
                      class="bi bi-person-bounding-box display-25 me-3 text-secondary"
                    ></i
                    >{{gender}}</a
                  >
                </li>
                <li  class="mb-3"> 
                  <a 
                    ><i
                      class="bi bi-calendar-heart-fill display-25 me-3 text-secondary"
                    ></i
                    >{{age}}</a
                  >
                </li>
              </ul>
            </div>
          <form>
            <div class="form-col" *ngIf="editable">
              <div class="form-group" >
                <label for="inputEmail4">First Name</label>
                <input type="name" class="form-control" id="inputEmail4" name="fname" type="text" [(ngModel)]="dbUser.fname">
              </div>
              <div class="form-group">
                <label for="inputEmail4">Last Name</label>
                <input type="name" class="form-control" id="inputEmail4" name="lname" type="text" [(ngModel)]="dbUser.lname">
              </div>
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email" type="text" [(ngModel)]="dbUser.email">
              </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" name="address" type="text" [(ngModel)]="dbUser.address">
            </div>
            <div class="form-group">
              <label for="inputAddress">Mobile</label>
              <input type="text" class="form-control" id="inputAddress" name="mobile" type="text" [(ngModel)]="dbUser.mobile" >
            </div>
            <div class="form-group">
              <label for="inputAddress">Gender</label>
              <select class="form-control" id="genderSelect" name="gender" [(ngModel)]="dbUser.gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputAddress">Age</label>
              <input type="text" class="form-control" id="inputAddress" name="age" type="text" [(ngModel)]="dbUser.age" >
            </div>
            </div>
          </form>
            <!-- <ul class="social-icon-style2 ps-0">
              <li>
                <a href="#!" class="rounded-3"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="#!" class="rounded-3"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#!" class="rounded-3"
                  ><i class="fab fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="#!" class="rounded-3"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-8">
        <div class="ps-lg-1-6 ps-xl-5">
          <div class="mb-5 wow fadeIn">
            <div class="text-start mb-1-6 wow fadeIn">
              <h2 class="about mb-0 text-primary">About</h2>
            </div>
            <p class="about">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed to using 'Content here,
              content here', making it look like readable English. Many desktop
              publishing packages and web page editors now use Lorem Ipsum as
              their default model text, and a search for 'lorem ipsum' will
              uncover many web sites still in their infancy.
            </p>
            <p class="about mb-0">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be sure there isn't anything embarrassing
              hidden in the middle of text.
            </p>
          </div>
          <div class="mb-5 wow fadeIn">
            <div class="text-start mb-1-6 wow fadeIn">
              <h2 class="mb-0 text-primary">Details</h2>
            </div>
            <div class="row mt-n4">
              <div class="col-sm-6 col-xl-4 mt-4">
                <div class="first card text-center border-0 rounded-3">
                  <div class="card-body">
                    <i
                      class="ti-bookmark-alt icon-box medium rounded-3 mb-4"
                    ></i>
                    <h3 class="h5 mb-3">Education</h3>
                    <p class="mb-0" style="color: black">
                      University of defgtion, fecat complete ME of synage
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 mt-4">
                <div class="second card text-center border-0 rounded-3">
                  <div class="card-body">
                    <i class="ti-pencil-alt icon-box medium rounded-3 mb-4"></i>
                    <h3 class="h5 mb-3">Career Start</h3>
                    <p class="mb-0" style="color: black">
                      After complete engineer join HU Signage Ltd as a project
                      manager
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 mt-4">
                <div class="card text-center border-0 rounded-3">
                  <div class="card-body">
                    <i class="ti-medall-alt icon-box medium rounded-3 mb-4"></i>
                    <h3 class="h5 mb-3">Experience</h3>
                    <p class="mb-0" style="color: black">
                      About 20 years of experience and professional in signage
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
