@import "~bootstrap/dist/css/bootstrap.min.css";
.content-wrapper {
  min-height: 100%;
  position: relative;
  overflow: auto;
}

.content {
  padding-top: 2rem;
}
.custom-link {
  text-decoration: none;
  /* Remove underline */
  color: #000;
  /* Set the desired text color */
  font-weight: bold;
  /* Set the desired font weight */
}

.custom-link:hover {
  color: #ff0000;
  /* Set the desired text color on hover */
  /* Add any additional hover styles */
}
.table th,
.table td {
  vertical-align: middle;
}

.modal {
  z-index: 1040;
}

.modal-backdrop {
  z-index: 1030;
}

/* Optional styles for the Create Ingredient button */
.card-header .btn-primary {
  float: right;
}
i {
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .card-header .btn-primary {
    margin-top: 1rem;
    float: none;
  }
}
