<app-admin-header></app-admin-header>
<app-admin-side-nav></app-admin-side-nav>

<div class="content-wrapper">
  <section class="content-header">
    <!-- Content Header (Page header) -->
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a routerLink="'admin/ingredients'" class="custom-link"
                >List Ingredients</a
              >
            </li>
            <li class="breadcrumb-item active">Ingredient</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">List of Ingredients</h3>
          <div class="card-tools">
            <div class="d-flex justify-content-between align-items-center">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-icon">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
                <input
                  type="text"
                  [(ngModel)]="searchTerm"
                  (input)="loadPage(1)"
                  (ngModelChange)="onSearchTermChange()"
                  class="form-control"
                />
              </div>
              <div>
                <a
                  class="btn btn-info btn-sm"
                  routerLink="/admin/ingredients/create"
                >
                  Create Ingredient
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Consistency</th>
                  <th>Image</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ingredient of ingredients; let i = index">
                  <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                  <td>{{ ingredient.name }}</td>
                  <td>{{ ingredient.consistency }}</td>
                  <td>
                    <img
                      class="img-fluid"
                      style="max-height: 75px"
                      [src]="ingredient.image"
                      alt="{{ ingredient.name }}"
                      class="img-thumbnail"
                    />
                  </td>
                  <td>
                    <a (click)="deleteIngredient(ingredient)" class="text-dark">
                      <i class="fa fa-trash"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item" [ngClass]="{ disabled: currentPage == 1 }">
              <a class="page-link" (click)="loadPage(currentPage - 1)"
                >Previous</a
              >
            </li>
            <li
              class="page-item"
              *ngFor="let page of pages"
              [ngClass]="{ active: currentPage == page }"
            >
              <a class="page-link" (click)="loadPage(page)">{{ page }}</a>
            </li>
            <li
              class="page-item"
              [ngClass]="{ disabled: currentPage == totalPages }"
            >
              <a class="page-link" (click)="loadPage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<app-admin-footer></app-admin-footer>
